.footer {
	position: absolute;
	height: 80px;
	width: 100%;
	bottom: -100px;
	background-color: rgb(33, 36, 65, 0.95);
	margin-top: 10px;
}

.footer-content {
	display: flex;
	justify-content: space-between;
	position: relative;
	width: 70%;
	align-items: center;
	margin-left: auto;
	margin-right: auto;

	height: 100%;
	color: rgba(255, 255, 255, 0.445);
}

.social-icons {
	display: flex;
	width: 100px;
	justify-content: space-between;
	font-size: 20px;
}

.dodo {
	font-size: 12px;
}

.dodo-link {
	text-decoration: underline;
	margin-left: 5px;
}

.dodo-link:hover {
	color: lightslategray;
}

@media screen and (max-width: 700px) {
	.footer {
		height: 150px;
		bottom: -150px;
	}

	.footer-content {
		width: 100%;
		justify-content: space-around;
		display: inline;

		text-align: center;
	}

	.social-icons {
		margin: 20px auto 10px auto;
		width: 150px;
		font-size: 30px;
	}

	.nadav {
		margin-top: 15px;
		margin-bottom: 15px;
	}
}
