.top-container {
	position: fixed;
	top: 0;
	height: 170px;
	width: 100vw;

	z-index: 1;
	left: 50%;
	transform: translate(-50%, 0%);
	background-color: rgb(33, 36, 65, 0.98);
}

.inner-topheader {
	position: relative;
	margin: 0 auto;
	height: max-content;
	width: 90vw;
}

/* .music-player-container {
	width: 70%;
	margin-left: auto;
	margin-right: auto;
} */

.logo-box {
	position: absolute;
	display: flex;
	flex-direction: column;
	top: 40px;

	height: 60px;

	align-items: baseline;
	justify-content: space-evenly;
	padding: 0;
	text-align: center;
	color: white;
}

.logo-header {
	font-size: 1.5em;
	font-weight: bold;
}

.logo-svg {
	height: 25px;
}

.logo-path {
	stroke: white;
	stroke-width: 3px;
	fill: none !important;
}

.nav-bar {
	/* margin-top: 20px; */
	display: flex !important;
	position: absolute;
	top: 48px;
	right: 0;

	width: 300px;
	justify-content: space-between;
	align-items: center;
	z-index: 2;
	color: rgb(255, 255, 255);
}

.nav-bar-item {
	color: unset;
	cursor: pointer;
	text-decoration: none;
	background-color: rgba(104, 104, 104, 0.2);
	padding: 8px;
	border-radius: 10px;
}

.hr1 {
	position: relative;
	top: 110px;
	margin-left: auto;
	margin-right: auto;
	height: 1px;
	width: 100%;
	background-color: white;
	opacity: 0.4;
}

.second {
	top: 113px;
}

.burger {
	display: none;
	position: absolute;
	right: 0;
	top: 40px;
	cursor: pointer;
	z-index: 2;
}

.dropdown {
	display: none;
	position: absolute;
	flex-direction: column;
	right: 0;
	align-items: center;
	top: 150px;
	height: 200px;
	width: 120px;
	justify-content: space-around;
	background-color: rgb(33, 36, 65, 0.7);
	border-radius: 5px;
	color: rgb(255, 255, 255);
}

@media screen and (max-width: 900px) {
	.logo-box {
		flex-direction: column;
	}
	.top-container {
		height: 210px;
	}
}

@media screen and (max-width: 700px) {
	.nav-bar {
		display: none !important;
	}

	.dropdown {
		display: flex;
	}

	.burger {
		display: initial;
	}
}

@media screen and (max-width: 584px) {
	.top-container {
		height: 230px;
	}
}
